@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Root==========*/
:root {
    --color1: #dd244f;
    --color2: #3e7beb;
    --color-bg: #090B13;
    --color-bg1: #15133C;
    --color-white: #fff;
    --color-black: #000;
    --color-border: rgba(255, 255, 255, 0.137);
    --color-transparent: rgba(0, 0, 0, 0);

    --widht-mobile: 97%;
    --principal-font: 'Poppins';
    --logo-font: 'Nunito';
}

/*==========Reset CSS==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*==========Body==========*/
body {
    background-image: linear-gradient(to right, var(--color-bg), var(--color-bg1));
    background-size: cover;
    height: 100%;
    font-family: var(--principal-font);
    font-weight: 100;
    color: var(--color-white);
}

/*==========Header Navbar==========*/
nav {
    background: var(--color-bg);
    width: 100vw;
    height: 4rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 -2rem 3rem  1rem var(--color-border);
}
.nav__container {
    width: 95vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    font-family: var(--logo-font);
    font-size: 1.3rem;
    color: var(--color-white);
    font-weight: 900;
}
.nav__logo span {
    color: var(--color1);
    font-family: var(--logo-font);
}
.nav__links {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 100%;
}
.nav__links li {
    height: 100%;
}
.nav__links li i {
    letter-spacing: .2rem;
}
.nav__links li a {
    color: var(--color-white);
    font-size: .9rem;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav__links li a::before {
    content: '';
    background: var(--color1);
    width: 100%;
    height: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    transition: height .5s;
}
.nav__links a:hover::before {
    height: 85px;
}
.nav__links li a.active::after {
    content: '';
    display: block;
    background: var(--color1);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.nav__toggle-btn {
    display: none;
}

/*==========Main==========*/
.main__container {
    padding: 6rem 0;
    height: 100vh;
}
.main__content {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--color-black);
    transition: all 1s ease;
}
.main__content:hover {
    box-shadow: 0 0 4rem 0 var(--color-border);
    transition: all .5s ease-in-out;
}
.main__text {
    width: 60%;
    margin-left: 1rem;
    margin-right: 5rem;
}
.main__text h1 {
    color: var(--color1);
    font-size: 1.5rem;
}
.main__text h1 span {
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4rem;
}
.main__text h3 {
    color: var(--color2);
    padding-bottom: 1rem;
}
.main__text p {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    text-align: justify;
}
#language {
    font-size: 1rem;
    padding-top: 1rem;
}
#language i {
    font-size: 1.5rem;
}
.html {
    color: #E44D25;
}
.css {
    color: #214CE5;
}
.js {
    color: #F7E018;
}
.react {
    color: #00D8FF;
}
.main__btn {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    width: 240px;
    display: flex;
    border: 2px solid var(--color2);
}
.main__btn:hover {
    transition: 1s ease;
    border: 2px solid var(--color1);
}
.main__btn a {
    color: var(--color-white);
    font-size: 1rem;
}
.main__profile img {
    width: 80%;
    transition: all 1s ease;
}
.main__profile img:hover {
    transform: rotate(0deg) scale(1.1);
    transition: all 1s ease;
}
.main__social ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 2rem;
}
.main__social a {
    font-size: 1.5rem;
    color: var(--color2);
    transition: 1s ease;
}
.main__social a:hover {
    color: var(--color1);
    transition: 1s ease;
}

/*==========Main Slider==========*/
.slider {
    padding-top: .5rem;
    width: 95%;
    margin: auto;
}
.slider h2 {
    font-family: var(--principal-font);
    font-weight: 300;
    padding: 2rem 0 .5rem 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--color-white);
}
.slider i {
    color: var(--color2);
    font-size: 1rem;
}
.slider__box {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
}
.slider__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/*==========Sobre==========*/
.sobre {
    height: 100vh;
    width: 95%;
    margin: auto;
}

/*==========Meus serviços==========*/
.meus__servicos {
    height: 100vh;
    width: 95%;
    margin: auto;
}

/*==========Portfólio==========*/
.portfolio {
    height: 100vh;
    width: 95%;
    margin: auto;
}

/*==========Contato==========*/
.contato {
    height: 100vh;
    width: 100vw;
    background: var(--color-bg1);
}
.contato__container{
    margin: auto;
    width: 95%;
}

/*==========Footer==========*/
footer {
    background: var(--color-bg);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}
.footer__sociais {
    display: none;
}
.footer__tec {
    text-align: center;
}
.footer__tec h4 {
    font-size: 1.5rem;
}
.footer__tec p {
    font-size: .9rem;
    margin-bottom: 1rem;
}
.footer__tec i {
    font-size: 2rem;
    color: var(--color2);
    letter-spacing: 2.5rem;
}
.footer__devices {
    text-align: center;
}
.footer__devices h4 {
    font-size: 1.5rem;
}
.footer__devices p {
    font-size: .9rem;
    margin-bottom: 1rem;
}
.footer__devices i {
    font-size: 2rem;
    color: var(--color2);
    margin: auto;
    letter-spacing: 2.5rem;
}
.footer__text h4 {
    font-size: 1.5rem;
}
.footer__text {
    text-align: center;
}
.footer__text a {
    font-family: var(--logo-font);
    font-size: 1.4rem;
    color: var(--color-white);
    font-weight: 900;
    transition: .5s ease;
}
.footer__text a span {
    color: var(--color1);
    font-family: var(--logo-font);
}
.footer__text a:hover {
    color: var(--color1);
    transition: .5s ease;
}









/*==========Media Query==========*/
@media (max-width: 1024px) {
    .nav__container {
        width: var(--widht-mobile);
        position: relative;
    }
    .nav__links {
        position: absolute;
        top: 100%;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        display: none;
        perspective: 500px;
    }
    .nav__links li {
        background-image: linear-gradient(to right, var(--color-bg), var(--color-bg1));
        width: 100vw;
    }
    .nav__links li a {
        background: var(--claro-cor);
        height: 3.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 3rem 0 2rem;
        border-top: 1px solid var(--borda);
    }
    .nav__links li a::before {
        display: none;
    }
    .nav__links li a.active::after {
        display: none;
    }
    .nav__toggle-btn {
        display: inline-block;
        font-size: 1.5rem;
        color: var(--escuro-cor);
        border: none;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        margin-right: 20px;
    }
    #nav__toggle-close {
        display: none;
    }

    /*==========Animação Navbar==========*/
    .nav__links li {
        transform: rotateX(90deg);
        transform-origin: top right;
        animation: animacao 1s ease forwards;
        opacity: 0;
    }
    .nav__links li:nth-child(2) {
        animation-delay: 100ms;
    }
    .nav__links li:nth-child(3) {
        animation-delay: 300ms;
    }
    .nav__links li:nth-child(4) {
        animation-delay: 500ms;
    }
    .nav__links li:nth-child(5) {
        animation-delay: 600ms;
    }
    .nav__links li:nth-child(6) {
        animation-delay: 800ms;
    }

    @keyframes animacao {
        to {
            transform: rotate(0);
            opacity: 1;
        }
    }

    /*==========Main==========*/
    .main__content {
        border: 2px solid var(--color-bg1);
        box-shadow: none;
    }
    .main__content:hover {
        box-shadow: none;
    }
    .main__text h1 {
        text-align: center;
    }
    .main__text h1 span {
        font-size: 2.7rem;
    }
    .main__text h3 {
        font-size: .9rem;
        text-align: center;
    }
    .main__text p {
        text-align: center;
    }
    #language {
        font-size: .8rem;
    }
    #language i {
        font-size: .9rem;
    }
    #mobile__btn {
        background: var(--color2);
        border: none;
        border-radius: 50px;
        width: auto;
    }
    #mobile__btn a {
        margin: auto;
    }
    .main__profile img:hover {
        transform: none;
    }
    .main__social a:hover {
        color: var(--color2);
    }

    /*==========Footer==========*/
    .footer__tec h4 {
        font-size: 1.2rem;
    }
    .footer__tec p {
        font-size: .9rem;
    }
    .footer__tec i {
        font-size: 1.5rem;
    }
    .footer__devices h4 {
        font-size: 1.2rem;
    }
    .footer__devices p {
        font-size: .9rem;
    }
    .footer__devices i {
        font-size: 1.5rem;
    }
    .footer__text h4 {
        font-size: 1.2;
    }
    .footer__text p {
        font-size: .9rem;
    }
    .footer__text a {
        font-size: 1.2rem;
    }
    
}




/*==========Media Query==========*/
@media (max-width: 768px) {
    .nav__logo {
        margin-left: .6rem;
    }
    .main__text {
        width: 90%;
        margin: auto;
    }
    .main__text h1 {
        font-size: 1rem;
        text-align: center;
    }
    .main__text h1 span {
        font-size: 3rem;
    }
    .main__text h3 {
        text-align: center;
        font-size: 1.1rem;
    }
    .main__text p {
        font-size: 1rem;
    }
    #language {
        font-size: .8rem;
    }
    #mobile__btn {
        background: var(--color1);
        border-radius: 0;
    }
    .main__profile {
        display: none;
    }
    .main__social {
        display: none;
    }
    .sobre {
        margin-top: 5rem;
    }

    /*==========Footer==========*/
    .footer__container {
        flex-direction: column;
    }
    .footer__tec {
        margin: auto;
        padding-bottom: 1rem;
    }
    .footer__tec h4 {
        font-size: 1rem;
    }
    .footer__tec p {
        font-size: .9rem;
    }
    .footer__tec i {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .footer__devices {
        margin: auto;
        padding-bottom: 1rem;
    }
    .footer__devices h4 {
        font-size: 1rem;
    }
    .footer__devices p {
        font-size: .9rem;
    }
    .footer__devices i {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .footer__sociais {
        display: block;
        margin: auto;
        padding-bottom: 1rem;
    }
    .footer__sociais ul {
        display: flex;
        gap: 1.5rem;
    }
    .footer__sociais p {
        text-align: center;
        font-size: .9rem;
    }
    .footer__sociais i {
        font-size: 1.5rem;
        color: var(--color2);
    }
    .footer__sociais p {
        font-size: .9rem;
    }
    .footer__text {
        margin: auto;
    }
    .footer__text h4 {
        font-size: 1rem;
    }
    .footer__text p {
        font-size: .9rem;
    }
    .footer__text a {
        font-size: 1.2rem;
    }
    
}